<div class="page-wrap">
<div class="center-form">
<%= form_for(@user) do |f| %>
	
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, :value => @user.name,
		 class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, :value => @user.email, 
			class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, :value => @user.password,
			class: "form-control" %>
	</div>
	<p>
		<%= f.submit "Update Account", class: "btn btn-primary" %>
		<%= link_to "Deactivate Account", profile_delete_path, class: "btn btn-primary" %>
	</p>
<% end %>
</div>
</div>