<!DOCTYPE html>
	<html lang="en-us">
		<head>
		  
		</head>

		<body>
			<div class="site-container">
				
				<div class="content-holder">
					<section class="col">
							<% if current_user %>
							<div class="div-message">Post Created: <%= @posts.count %></div>
							<div class="div-message">Registered Users: <%= @users.count %></div>
							<div class="div-message"><a href="<%= createPost_path %>">Create a Post</a></div>
							<% else %>
							<div class="div-message">Post Created: <%= @posts.count %></div>
							<div class="div-message">Registered Users: <%= @users.count %></div>
							
							<div class="div-message"><a href="<%= signup_path %>">Sign Up</a></div>
					
							<div class="div-message"><a href="<%= login_path %>">Login</a></div>
							<% end %>
					</section>
				</div>
			</div>
		</body>	
	</html>