<!DOCTYPE html>
<html>
<head>
  <title>Converse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  
</head>
<body>
  <% if notice %>
    <div id = "notice-success" class="notice notice-success"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="notice notice-danger"><%= alert %></div>
  <% end %>
  <ul class="navigation">
    <li class="nav-item"><img class="top-banner"></li>
    <li class="nav-item"><a href="<%= root_path %>">Home</a></li>
    <li class="nav-item"><a href="<%= about_path %>">About</a></li>
    <% if current_user %>
     <li class="nav-item"><a href="<%= posts_path %>">Posts</a></li>
     <li class="nav-item"><a href="<%= new_post_path %>">Create Post</a></li>
    <% end %>
    <li class="nav-item"><a href="<%= members_path %>">Members</a></li>
    <% if current_user %>
    <li class="nav-item"><%= link_to 'Log Out', logout_path %></li>
    <li class="nav-item"><%= link_to 'Profile', profile_path %></li>
    <% else %>
    <li class="nav-item"><%= link_to 'Log In', login_path %></li>
    <li class="nav-item"><%= link_to 'Sign Up', signup_path %></li>
    <% end %>
      <%= form_tag "/posts/find" do %>
        <div class="search-box"><%= text_field_tag :search_string %></div>
        <%= submit_tag "Search", class: "btn btn-lg btn-default" %>
      <% end %><br>
    <p class="social-icons">
      <a class="smi1" href="https://www.facebook.com/ConverseDevs/" target="_"></a>
      <a class="smi2" href="https://twitter.com/ConverseDev" target="_"></a>
      <a class="smi3" href="https://www.youtube.com/channel/UCi6oeSL--oLLemSI1smaoWQ"
      target="_"></a>
    </p> 
  </ul>
  
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>

<%= yield %>

</body>
</html>



